<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="Editheader">New Pokemon Page</h1>
    <form action="/pokedex" method="POST">
      Name: <input type="text" name="name"  /><br/>
      Image <input type="text" placeholder="img URL" name="img" /><br/>
      Type <input type="text" placeholder="ex: fire lightning wind" name="type" ><br/>
      HP: <input type="number" name="hp" /> <br/>
      Attack: <input type="number" name="attack" /> <br/>
      Defense: <input type="number" name="defense" /> <br/>
      <!-- Type: <input />
      Stats: -->
      <input type="submit" value="Create Pokemon" />
    </form>
  </body>
</html>
